extends layout
block content
  h1= title
  - let shakerid = toShow._id
  - let shaker_type = toShow.shaker_type
  - let shaker_size = toShow.shaker_size
  - let shaker_cost = toShow.shaker_cost
  div
    div.row
      div(class='shakerAttr col-sm') Shaker ID is:
        div #{shakerid}
    div.row
      div(class='shakerAttr col-sm') Shaker Type is:
        div #{shaker_type}
    div.row
      div(class='shakerAttr col-md') Shaker Size is:
        div #{shaker_size}
    div.row
      div(class='shakerAttr col-sm') Shaker Cost is:
        div #{shaker_cost}